body {
  font-family: Inter;
  color: white;
  background-image: url("https://images6.alphacoders.com/407/407732.jpg");
  margin: 20px 50px 20px 50px;
  font-size: 12px;
}

h1 {
  text-align: center;
  font-family: "Playfair+Display";
  font-size: 55px;
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-family: "Playfair+Display";
  font-size: 30px;
}

.container {
  text-align: center;
  color: white;
}

.incontainer {
  display: inline;
  position: relative;
}

.picture {
  height: 120px;
  width: 200px;
  padding-left:20px;
  padding-right: 20px;
}

.pictext {
  position: absolute;
  top: -420%;
  left: 33%;
}
